extends layout.pug 

block content
    section#content
        h2 Here are the #{theName} Moves: 
        ul 
            each trapeze in aerialMoves
                li= trapeze 

        h2 Need to add a move?
        form(action="/aerials/:id", method="post")
            input(type="hidden" name="exerciseTypeId" value=`${setExerciseId}`)
            label The missing move: 
                input(type='text', name='move')
            br
            label Level: 
                input(type='number', name='level')
            br
            label Achieved: 
                input(type='radio', name='achieved', value="1", id="true")
                label(for="true") True
                input(type='radio', name='achieved', value="0", id="false")
                label(for="false") False
            br
            button(type="submit") Add Move