extends layout.pug 

block content
    section#content
        h2 Here are the Trapeze Moves: 
        ul 
            each trapeze in trapezeMoves
                li= trapeze 
        p Need to add a move?
        form(action="/aerials", method="post")
            label What exercise: 
                input(type='text', name='exercise_type')
            button(type="submit") Add exercise