extends layout.pug 

block content
    section#content
        p Thanks for adding #{exercise}!
        //- form(action='/aerials', method='get')
        //-     button(type='submit') Go Back to Exercises
        a(href='/aerials') Go Back to Exercises